* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 1px solid black;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --mustard: #f6bd60ff;
  --pale-purple: #eaddec;
  --lavender: #cfb8ff;
  --dark-grey: #202020;
}

.navbar {
  display: flex;
}
